.clear{
	clear: both;
}
*{
  box-sizing: border-box;
  transition: .2s;
}
body{
  font-size: small;
  margin: 0;
}
a{
	text-decoration: none;
}
/*выравнивание*/
.alignment{
	max-width: 1200px;
	margin: 0 auto;
}
/*left logo*/
.header{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background-color: #eff7f2;

}
.left_block{
	height: 70px;
	width: 70px;
	background: #f26c4f;
	position: relative;
	cursor: pointer;
}
.logo_img{
	height: 22px;
	width: 22px;
	background: url(../image/logo.png) no-repeat;
	background-size: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}


/*navigation*/
nav[role="navigation"]{
	height: 70px;
	display: none;
	margin: 0;
	position: absolute;
	padding: 0;
	margin: 0;
}
.list{
	list-style: none;
	padding: 0;
	margin: 0;

}
.list li{
	display: inline-block;
	line-height: 70px;
	padding: 0 10px;
}
.list li a{
	font-family: 'Raleway', sans-serif;
	font-size: 90%;
	font-weight: 800;
	text-transform: uppercase;
	padding: 5px 10px;
	color: #f26c4f;

}
.list li a:hover{
	background: #f26c4f;
	color: #fff;
	border-radius: 3px;
}


/*правый бургер*/
.right_block_btn_burger{
	height: 70px;
	width: 70px;
	background: #1ac7c3;
	position: fixed;
	right: 0;
	cursor: pointer;
	z-index: 100;
}
.right_block_btn_burger span{
	height: 2.5px;
	width: 20px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 10px;
	-webkit-transform: translate(-40%, -75%);
	-ms-transform: translate(-40%, -75%);
	-o-transform: translate(-40%, -75%);
	transform: translate(-40%, -75%);
}
.right_block_btn_burger span:before,
.right_block_btn_burger span:after{
	content: '';
	height: 2.5px;
	width: 20px;
	background: #fff;
	position: absolute;
	-webkit-transition:  .2s;
	-o-transition:  .2s;
	transition:  .2s;
}
.right_block_btn_burger span:before{
	top: -6px;
	/*left: 0;*/
}
.right_block_btn_burger span:after{
	top: 6px;
	/*left: 0;*/
}



.btn_burger_active .right_block_btn_burger{
	background: #1ac7c388;
}
.btn_burger_active .right_block_btn_burger span{
	/*height: 0;*/
}
.btn_burger_active .right_block_btn_burger span::before{
	top: 0;
	transform: rotate(35deg);
	transform-origin: right bottom;
	right: 0;
	width: 10px;
	
}
.btn_burger_active .right_block_btn_burger span::after{
	top: 0;
	transform: rotate(-35deg);
	transform-origin: right top;
	right: 0;
	width: 50%;

}

/*бургер навигация*/
.burger_nav{
	display: none;
	position: fixed;
	left: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	background: #1ac7c388;
	padding-top: 70px;
}
.burger_nav .list1{
	list-style: none;
	padding: 0;
}
.burger_nav .list1 li:hover {
	-webkit-box-shadow: inset 0 0 3px #fff;
	box-shadow: inset 0 0 3px #fff;
	cursor: pointer;
}
.burger_nav .list1 li{
	padding: 20px;
	margin: 0;
}
.burger_nav .list1 li a{
	text-transform: uppercase;
	color: #fff;
}
.btn_burger_active .burger_nav{
	display: block;
}















/*promo block*/
.header_image_promo_block{
	max-width: 1600px;
	height: 470px;
	margin: 0 auto;
	background: url(../image/sm-photo.jpg) 50% 30px no-repeat;
	background-size: cover;
}

main{
	width: 100%;
}
/*main block->content block*/
.content_block{
	padding: 20px;
	margin: 0 auto;
}
.content_block h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 200%;
	color: #153f60;
	text-transform: uppercase;
	margin-bottom: 38px;
}
.content_block p{
	font-family: 'Open sans', sans-serif;
	font-size: 110%;
	color: #153f60;
	margin-top: 25px;
}


/*right content block*/
.right_content_block{
	background: #1ac7c3;
	padding: 20px;
	margin: 0 auto;
}
.right_content_block h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 150%;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 38px;
}
.right_content_block p{
	font-family: 'Open sans', sans-serif;
	font-style: italic;
	font-size: 110%;
	color: #fff;
	margin: 20px 0;
}
/*footer*/
footer{
	width: 100%;
	background: #f26c4f;
}
.footer{
}
.contact_us{
	padding: 20px 20px 40px;
	max-width: 600px;

}
.contact_us h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 200%;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 38px;
}
.contact_us p{
	font-family: 'Open sans', sans-serif;
	font-weight: 400;
	font-size: 110%;
	color: #fff;
	margin: 20px 0;
}

.btn_contact{
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	height: 50px;
	width: 270px;
	background: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
}
.btn_contact {
	color: #f26c4f;
	
}


/*media screen*/
@media only screen and (min-width: 750px)
{
	body{
		font-size: medium;
	}
	/*header*/
	.header{
		display: block;
		background: none;
	}
	.left_block{
		display: inline-block;
	}
	nav[role="navigation"]{
		display: inline-block;
	}
	.right_block_btn_burger{
		display: none;
	}
	/*.burger_nav{
		display: none;
	}*/

	.btn_burger_active{
		display: none;
	}
	.header_image_promo_block{
	max-height: 550px;
	background: url(../image/big-photo.jpg) 90% no-repeat;
	background-size: cover;
	}
	

	/*main*/
	.content_block{
		max-width: 750px;
		padding: 60px;

	}
	.right_content_block{
		max-width: 750px;
		padding:60px;
	}
	/*footer*/
	.contact_us{
		padding: 0;
		margin: 60px;
	}
	.footer{
		max-width: 750px;
		padding: 20px 0;
		margin: 0 auto;	

	}
}
@media only screen and (min-width: 1150px){
	body{
		font-size: large;
	}
	/*main*/
	.content_block{
		max-width: 550px;
		padding: 60px;
		float: left;
	}
	.right_content_block{
		max-width: 450px;
		padding:60px;
		float: right;
	}
	/*footer*/
	.contact_us{
		padding: 60px;
		margin: 0;
	}
	.footer{
		max-width: 1200px;
		padding: 20px 0;
		margin: 0 auto;
	}
}
