* {
  box-sizing: border-box;
  transition: .3s;
}

body {
  margin: 0;
  padding: 0;
  font-size: large;
}

header {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

main {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  background: #637f83;
}

.content {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

/*Шапка сайта-header*/
.header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 90px;
  max-height: 90px;
  color: #637f83;
  margin-left: 20px;
}

/*PROMO BLOCK*/

.image_header {
  position: relative;

  width: 100%;
  height: 522px;
  margin-right: auto;
  margin-left: auto;

  background: url("../image/design_for_header.jpg") no-repeat;
  background-size: cover;
}

.text_in_image {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 490px;
  min-height: 120px;
  margin: 0;
  padding: 0;

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  color: #fff;
}

.text_in_image h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.3;

  margin: 0;
  padding: 0;

  text-decoration: underline;
  letter-spacing: 3.5px;
}

.text_in_image p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.5;

  margin: 15px 5px;
  padding: 0;

  letter-spacing: 3px;
  text-transform: uppercase;
}

/*Основной блок-main*/

.header_for_main {
  margin: 40px;

  text-align: center;

  color: #637f83;
}

.header_for_main h2 {
  font-size: 2.2em;
  line-height: 1;

  margin: 0;
}

.header_for_main p {
  font-size: 1.6em;
  line-height: 1;

  margin: 0;
}

/*FLEX-LINK BLOCK*/

.background_for_flex_link_section {
  width: 100%;
  min-height: 350px;

  background: #f6f6f6;
}

.flex_link_section {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: flex;

  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;

  -webkit-box-align: center;
  align-items: center;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
}

.link_section {
  max-width: 250px;
  height: 375px;
  padding-top: 20px;
  text-align: center;
  position: relative;
}

/*first_link_section*/

.icons_for_first_section {
  display: inline-block;

  width: 75px;
  height: 65px;

  background: url(../image/design_desktop.png) no-repeat;
}
.icons_for_second_section {
  display: inline-block;
  width: 75px;
  height: 65px;

  background: url(../image/design_flask.png) no-repeat;
}
.icons_for_third_section {
  display: inline-block;
  width: 75px;
  height: 65px;

  background: url(../image/design_config.png) no-repeat;
}
.icons_for_forth_section {
  display: inline-block;
  width: 75px;
  height: 65px;

  background: url(../image/design_speaker.png) no-repeat;
}
.link_section h6 {
  font-size: 1.6em;
  color: #637f83;
  margin: 30px 0 20px;
}
.link_section p {
  height: 100px;
  font-size: 1.2em;
  color: #959494;
  margin: 0;
  margin-bottom: 28px;
  line-height: 1.2;
}
.btn_for_section {
  display: inline-block;
  height: 32px;
  width: 72px;
  font-size: 1em;
  color: #fff;
  text-align: center;
  background: #637f83;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}
.btn_for_section a {
  height: 32px;
  width: 72px;
  position: absolute;
  left: 0;
  top: 0;
}
.header_for_portfolio {
  text-align: center;
  color: #637f83;
  margin: 40px;
}
.header_for_portfolio h2 {
  margin: 0;
  font-size: 2.2em;
}
.header_for_portfolio p {
  margin: 0;
  font-size: 1.6em;
}

/*PORTFOLIO LINK IMAGE ORANGE*/

.link_portfolio {
  display: flex;
  min-height: 235px;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}
.left_portfolio {
  height: inherit;
  margin-right: auto;
  margin-left: auto;
}
.right_portfolio {
  height: inherit;
  margin-right: auto;
  margin-left: auto;
}

hr {
  background: #d9d9d9;
  height: 1px;
  max-width: 585px;
  margin: 15px;
}

.sections {
  max-width: 585px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sections div {
  height: 170px;
  width: 270px;
  margin: 15px 10px;
  border-radius: 5px;
}
/*Link image Portfolio*/

.link_first_image {
  background: url(../image/design_first_image_portfolio.png) no-repeat;
}
.link_second_image {
  background: url(../image/design_second_image_portfolio.png) no-repeat;
}
.link_third_image {
  background: url(../image/designthird_image_portfolio.png) no-repeat;
}
.link_forth_image {
  background: url(../image/design_forth_image_portfolio.png) no-repeat;
}

/*Подвал*/
.footer {
  text-align: center;
  color: #ffffff;
  font-size: 1.2em;
  position: relative;
  height: 105px;
}
.footer p {
  margin: 0;
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*Adaptation*/
@media screen and (max-width: 800px) {
  body {
    font-size: small;
  }
  .link_section {
    font-size: medium;
  }
  .image_header {
    background-image: url(../image/pic.jpg);
  }
}
@media screen and (max-width: 450px) {
  body {
    font-size: x-small;
  }
}
